.custom-shape-divider-bottom-1620307143 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1620307143 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 140px;
  background: #e47207;
  opacity: 0.8;
}

.custom-shape-divider-bottom-1620307143 .shape-fill {
  fill: #ffffff;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1620307143 svg {
    width: calc(300% + 1.3px);
    height: 500px;
  }
}
.contain-wavy {
  background: #e47207;
  opacity: 0.8;
  padding: 50px;
  color: #fff;
  letter-spacing: 0.1rem;
}
.wavy-h2 {
  font-family: "Domine", serif;
}
.wavy-h1 {
  font-family: "Mulish", serif;
}
.wavy-h3 {
  font-family: "Roboto", sans-serif;

  font-style: normal;
}
.wavy-book {
  max-width: 45vw;
  height: 45vh;
}
.wavy-content {
  display: flex;
  justify-content: space-between;
}
.wavy-text {
  max-width: 45vw;
}
.wavy-button {
  height: 40px;
  max-width: 150px;
  color: #fff;
}
.wavy-button:hover {
  background: #e47207 !important;
  border: rgb(255, 255, 255) 1px solid;
  color: #fff;
}

@media (max-width: 768px) {
  .wavy-content {
    flex-direction: column;
    align-items: center;
  }
  .wavy-text {
    max-width: 100%;
  }
  .wavy-book {
    max-width: 100%;
    height: 30vh;
  }

  .contain-wavy {
    padding: 15px;
  }
}

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.frame button {
  margin: 20px;
}
.custom-wavy-btn {
  width: 130px;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-7 {
  background: #fff;
  /* background: linear-gradient(
    360deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  ); */
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #fff;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: #fff;
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #fff;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}
