.mobilecontainer {
  width: 100%;
  height: max(700px, 91.5vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: darkorchid 100%;
  background: radial-gradient(#eea849 45%, darkorchid 90%);
  bottom: 0;
}
.mobilCover {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobilebooks {
  position: relative;
  border: 2px solid #f1e3d0;
  border-radius: 8px;
}
.mobilearticle {
  margin: 10px;
}

div[role="presentation"] {
  touch-action: pan-y !important;
}
.mobileneon-border {
  position: relative;
  background: #1d1e22;
  filter: drop-shadow(0 0 1rem rgba(1, 6, 255, 0.5));
}
.mobileImage {
  width: 300px;
  height: 180px;
}
.mobileImageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobilearticlefooter {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
}
.mobilearticleContent {
  font-family: Newsreader;
  font-size: 17px;
  text-align: justify;
}
@media (max-width: 450px) {
  .mobilearticleContent {
    font-size: 15px;
  }
}
